.gitter-chat-embed-action-bar-item-collapse-chat{
padding-top: 200px;
}
.gitter-chat-embed-action-bar-item-pop-out{
padding-top: 200px;
}
 .gitter-open-chat-button, .gitter-open-chat-button:visited{
 margin-bottom: 25px;
 }